.boards {
  width: 100%;
}

.boards > div  {
  display: inline-block;
}

table, tr, td {
  border: 1px solid black;
}

tr {
  padding: 20px;
}

td {
  padding: 20px;
}


.none {
  background-color: transparent;
}

.first {
  background-color: blue;
}

.second {
  background-color: green;
}

.third {
  background-color: red;
}

.fourth {
  background-color: orange;
}

.five {
  background-color: yellow;
}

